
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Space+Grotesk:wght@300..700&display=swap');


*{
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: url(img/fondo3.jpg);
    background-position: center;
    background-size: cover;
}

.container{
    position: relative;
    width: 400px;
    border: 2px solid blanchedalmond;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container h2{
    font-size: 2.3rem;
    color: white;
    text-align: center;
}

.input-container{
    position: relative;
    margin: 30px 0;
    width: 300px;
    border-bottom: 2px solid white;
}

.input-container label{
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: white;
    font-size: 1rem;
    pointer-events: none;
    transition: .6s;
    font-weight: bold;
}

input:focus ~ label,
input:valid ~ label{
    top: -5px;
}

.input-container input{
    width: 100%;
    height: 50px;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: - 35px 0 5px;
    color: white;
}

.input-container i{
    position: absolute;
    color: white;
    font-size: 1.4rem;
    top: 19px;
    right: 8px;
}

.olvidar{
    margin: -15px 0 15px;
    font-size: .9em;
    color: white;
    display: flex;
    justify-content: center;
}

.olvidar label input{
    margin: 3px;

}

.olvidar label a{
    color: white;
    text-decoration: none;
    transition: .3s;
    font-size: .9em;

}

.olvidar label a:hover{
    text-decoration: underline;
}

button{
    width: 100%;
    height: 45px;
    border-radius: 40px;
    background: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    transition: .4s;
}

button:hover{
    opacity: .9;
}

.Registrar{
    font-size: .8rem;
    color: white;
    text-align: center;
    margin: 20px 0 10px;
}

.Registrar p a{
    text-decoration: none;
    color: aliceblue;
    font-weight: bold;
    transition: .3s;
}

.Registrar p a:hover{
    text-decoration: underline;

}
